.screen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        transform: scale(1%);
        width: 95%;
        height: 95%;
    }
}

.screen-overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screen-overlay-active img {
    margin-top: auto 0;
    max-width: 95%;
    max-height: 95%;
    transform: scale(100%);
    transition: transform 0.3s ease-in-out;
}
