@import '../../sass/variables.scss';
@import '../../sass/mixins';
$footerBackgroundColor: black;
$footerTextColor: $gray-90;

.footer-home-page {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    min-height: 60px;
    background-color: $footerBackgroundColor;
    color: $footerTextColor;
    padding: 60px 0 60px 0;

    &__company {
        font-weight: 500;
        text-align: center;
        color: $color-primary-0;
        line-height: 0.4rem;

        >h1 {
            font-size: 1rem;
            font-weight: 500;
            margin: 10px 0 0 0;
            padding: 0;
            line-height: 0.6rem;
        }

        >p {
            font-size: 0.8rem;
            color: $footerTextColor;
        }
    }

    &__contacts {
        font-size: 0.7rem;
        color: $footerTextColor;
        font-weight: 500;
        text-align: center;

        >p {
            line-height: 1.2rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            font-weight: 400;
            font-size: 0.8rem;
            margin: 3px 0;

            >span {
                padding-top: 2px;
                margin-right: 5px;
                color: $color-primary-0;
                font-size: 1rem;
            }
        }

    }
}

@include mdMinBreakPoint {
    .footer-home-page {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        // align-items: center;
        padding: 60px 0 50px 0;

    }
}