@import '../../sass/variables.scss';
@import '../../sass/mixins';


.info-section {
    background: linear-gradient(to bottom, white 0%, $background-color 100%);
}

.counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 16vw 0;
    background: transparent;
}

.card-content-container {
    background: linear-gradient(to bottom, white 0%, $background-color 100%);
    // background-color: $background-color;
}



@include mdMinBreakPoint {
    .card-content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .counter-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 40px;

    }
}