@import '../../sass/variables.scss';
@import '../../sass/mixins';
$textLocalColor: white;


.main-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: $color-primary-0;
    transition: all 0.3s ease-in-out;
    left: 0px;

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 3vw;
        min-height: 50px;
        color: $textLocalColor;

        &-logo {
            position: absolute;
            top: 0;
            left: 0;
            height: 45px;
            padding: 15px 30px 45px 20px;
            text-align: center;
            clip-path: polygon(0 0, 100% 0, 84% 100%, 0% 100%);
            background-color: $color-secondary-1-0;
            transition: all 0.3s;

            img {
                width: 60px;
            }


            &.active {
                padding: 20px 35px 50px 20px;

            }
        }

        &-phone-number {
            display: flex;
            align-items: center;
            color: $textLocalColor;
            z-index: 10;

            p {
                transition: all 0.3s;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: calc(0.7rem + 0.7vw);
                font-weight: 500;
                font-style: italic;
                padding: 0 0 0 calc(36vw);
                margin: 0;

                span {
                    margin-top: 4px;
                    font-size: 0.8rem;
                    line-height: 1rem;
                }
            }

            &.translate-down {
                p {
                    transform: translateY(276px);
                    padding: 0;
                    margin: 0 0 0 calc(36vw);
                }
            }
        }

        &-hamburger {
            position: relative;
            width: 30px;
            height: 20px;
            cursor: pointer;
            user-select: none;

            .burger-bar {
                border-radius: 2px;
                width: 100%;
                position: absolute;
                height: 3px;
                background: $textLocalColor;
                display: block;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

                &:first-child {
                    top: 0;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &:last-child {
                    bottom: 0;
                }
            }
        }
    }

    &__menu-items {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 5px;
        left: 100vw;
        max-height: 40px;
        height: 0px;
        max-width: 70vw;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        li {
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
            position: relative;

            a,
            span {
                display: flex;
                align-items: center;
                height: 100%;
                padding: 0px 20px 10px 20px;
                justify-content: space-between;
                color: $textLocalColor;
                text-decoration: none;
            }

            span .submenu-dropdown-icon {
                transition: transform 0.3s ease-in-out;
            }

            span.toggled {
                .submenu-dropdown-icon {
                    transform: rotate(180deg);
                }

                +.sub-menu {
                    max-height: 500px;
                }
            }
        }

        &.active {
            left: 0vw;
            min-height: 270px;
            max-height: 500px;
            padding-bottom: 20px;
        }
    }
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li>span {
        color: $textLocalColor;
    }
}


.close {

    .burger-bar:first-child,
    .burger-bar:last-child {
        opacity: 0;
    }

    .burger-bar:first-child {
        transform: translateY(20px) scale(0);
    }

    .burger-bar:last-child {
        transform: translateY(-20px) scale(0);
    }

    .burger-bar:nth-child(2) {
        transform: rotate(45deg);
    }

    .burger-bar:nth-child(3) {
        transform: rotate(-45deg);
    }
}



.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    z-index: 1;

    li a {
        padding: 10px 40px;
        font-weight: 400;
    }
}

@include mdMinBreakPoint {

    .main-navbar {
        flex-direction: row;
        justify-content: space-between;

        &__head {
            height: 50px;

            &-phone-number {

                p {
                    font-size: calc(0.5rem + 0.6vw);
                    padding: 10px 0 0 calc(1px + 27vw);

                    // padding: 0 auto;
                    span {
                        font-size: calc(0.5rem + 0.6vw);
                    }

                }


            }

            &-logo {
                padding: 20px 50px 57px 30px;
                clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);


                img {
                    width: 80px;
                }
            }

            &-hamburger {
                display: none;
            }

        }

        &__menu-items {
            max-height: none;
            flex-direction: row;
            overflow: visible;
            max-width: 55vw;
            gap: 3px;
            margin-right: 1px;
            padding: 0 2vw;
            left: 0;
            background-color: rgba($color-primary-1, 0.3);
            clip-path: polygon(4% 0, 100% 0, 100% 100%, 0% 100%);
            height: 60px;


            li {
                font-size: calc(0.4rem + 0.7vw);
                text-align: center;

                a,
                span {
                    min-width: 40px;
                    padding: 0 10px;
                    color: $textLocalColor;
                    text-decoration: none;
                }

                .submenu-dropdown-icon {
                    display: none; // 💡 Also hide the arrows on desktop
                }

                span.toggled+.sub-menu {
                    max-height: 0px;
                }

                &:hover .sub-menu,
                &:hover span.toggled+.sub-menu {
                    max-height: 300px;
                }

                a:hover {
                    scale: 110%;
                    transition: 0.1s ease-in-out;
                }

                span:hover {
                    scale: 110%;
                    transition: 0.1s ease-in-out;
                }
            }
        }
    }



    .sub-menu {
        position: absolute;
        left: -10px;
        background: $color-primary-0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        li a {
            padding: 10px 20px;
        }

        li:last-child a {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    .main-navbar__menu-items.closed .sub-menu {
        display: none;
    }
}

.main-navbar.active {
    background-color: rgba($color-primary-0,
            0.9);
    /* Background color with 50% transparency */
    backdrop-filter: blur(4px);
    /* Blur effect */
}