@import '../../sass/variables.scss';
@import '../../sass/mixins';
$textLocalColor: $gray-20;

.content-card-two {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
    padding: 30px 0;
    background-color: transparent;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &-title {

            h2 {
                font-size: 24px;
                color: $textColor;
                font-weight: 600;
                padding-bottom: 0px;
            }

            h3 {
                line-height: 35px;
                padding-left: 20px;
                margin-bottom: 20px;
                font-size: 20px;
                color: #111;
                font-weight: 600;
            }
        }

        &-img {
            width: 100%;
            padding-bottom: 20px;

            img {
                width: 100%;
                border-radius: 3px;
                // object-fit: contain;
                padding: 0 auto;
            }
        }

        &-text {
            // background-color: hsl(0, 0%, 90%);
            // background: linear-gradient(to bottom right, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%);
            // border-radius: 20px;
            text-align: justify;
            font-size: $p-size;
            color: $textLocalColor;
            font-weight: $p-font-weight;
            padding: 20px 0 0 0;
            border-top: 1px solid hsl(0, 0%, 93%);
        }
    }

    &__button {
        margin-top: 30px;
        width: 165px;
        height: 50px;
        border: none;
        border-radius: 0px;
        padding: 8px 20px;
        color: white;
        // text-transform: uppercase;
        font-size: $p-size ;
        cursor: pointer;
        font-weight: 600;
        background-color: white;
        margin-top: 20px;
        transition: all .1s;
    }
}

@include mdMinBreakPoint {
    .content-card-two {
        background: transparent;

        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 15px;

            &-text {
                margin: 0 20px;
            }

            &-img {
                width: 100%;
                padding: 0 20px 20px 20px;
                margin: 0 auto;
            }
        }

        &__button {
            margin-left: 0px;
            border-radius: 0px;
            margin-top: 40px;
            transition: border-radius .2s;

            &:hover {
                border-radius: 55px 0px;
                transition: border-radius .2s;
            }

        }
    }
}

@include xlMinBreakPoint {
    .content-card-two {
        max-width: 1100px;
        margin: 0 auto;


        &-img {

            img {
                margin: 0 auto;
                width: auto;
            }
        }
    }
}