@import '../../assets/slick.scss';
@import '../../assets/slick-theme.scss';

.carousel-slider-wrapper {
    img {
        object-fit: cover;
        height: 33vw;
    }
}

//  !!!!! ---touchscreen zoom activate
.slick-slider {
    touch-action: auto;
}