@import '../../../../../sass/mixins';

.slick-previous-arrow {
    position: absolute;
    border: 0px solid white;
    padding: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: white;
    z-index: 1;
    top: calc(50% - 40px);
    width: 30px;
    cursor: pointer;

    svg {
        filter: drop-shadow(1px 1px 1px rgb(0 0 0 / 0.9));
    }
}