.slick-dots ul li {
    position: relative;
    height: 10px;
    overflow: hidden;
}

.slick-dots ul li button:before {
    background-color: #76b82a;
    border: 1px solid white;
    height: 8px;
    width: 8px;
    text-indent: -9999px;
    overflow: hidden;
}

//  !!!!! ---touchscreen zoom activate
.slick-slider {
    touch-action: auto;
}
