@import '../../../../../sass/mixins';
@import '../../../../../sass/variables';

.slick-dots ul li {
    position: relative;
    height: 10px;
    overflow: hidden;
}


.slick-dots ul li button:before {
    background-color: $color-primary-0;
    border: 1px solid white;
    height: 8px;
    width: 8px;
    text-indent: -9999px;
    overflow: hidden;
    opacity: .6 !important;

}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
}


//  !!!!! ---touchscreen zoom activate
.slick-slider {
    touch-action: auto;
}