@import '../../sass/variables.scss';
@import '../../sass/mixins';
$localTextColor: $gray-10;
$background-color: white;


.contact-info-bottom-card {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    gap: 20px;
    width: clamp(250px, 100%, 800px);
    padding: clamp(30px, 6vw, 60px) clamp(20px, 4vw, 60px);
    background-color: $background-color;
    border-radius: 5px;
    @include cardShadow;

    &__block {
        display: flex;
        flex-direction: column;
        text-align: left;

        >h2 {
            width: 100%;
            height: 100%;
            margin: 0;
            padding-bottom: 5px;
            font-weight: 500;
            color: $localTextColor;
            font-family: $title-font;
            font-size: clamp(1rem, 1.7vw, 1.5rem);
            line-height: clamp(1rem, 2.2vw, 2rem);

            >span {
                color: $spanColor;
                font-size: clamp(15px, 3vw, 24px);
                vertical-align: middle;
                margin-right: 20px;
            }
        }

        >p {
            max-width: 150%;
            margin: 0;
            font-weight: 400;
            color: $gray-40;
            padding: 0 0 0 0;
            font-size: 16px;
            letter-spacing: 0px;
            cursor: default;

            // line-height: 1px;
            >a {
                color: $gray-40;
                font-weight: 400;

                :first-child {
                    color: $color-primary-0;
                }
            }

            >span {
                color: #3870e1;
                color: $color-primary-0;
                vertical-align: middle;
                margin: 0px 5px;
                padding-bottom: 5px;
                cursor: pointer;

                &.icon-center {
                    vertical-align: middle;
                    padding-bottom: 0px;
                    margin-right: 5px;
                }
            }

            @media (min-width: 350px) {
                padding: 0 0 0 clamp(36px, calc(25px + 2.5vw), 45px);
            }


        }
    }

}