@import '../../css-styles/colors.scss';

.blog-page {
    margin-top: 100px;
    // Common styles for both mobile and desktop
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 7vw 50px 7vw;
    color: #111;


    &__title {
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        line-height: 40px;
        font-size: 30px;
        font-weight: 700;
    }


    &__info {
        overflow: hidden;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $gray-45;
        font-weight: 500;
        padding: 10px 0 30px 0;
        gap: 20px;
        line-height: 1.2rem;
        font-size: 12px;

        &__profile-author-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            // border: 1px solid #555;
        }

        &__blog {
            width: 200px;

            &__author {
                color: #555;
            }

            &__date {
                color: #555;
            }
        }
    }


    &__heading {
        padding: 10px 0;
        font-size: 24px;
        color: #111;
        font-weight: 400;

        &--level-1 {
            font-weight: 500;
            font-size: 24px;
        }

        &--level-2 {
            font-weight: 500;
            font-size: 18px;
        }
    }

    &__paragraph {
        text-align: justify;
        font-size: 16px;
        color: $gray-18;
        font-weight: $p-font-weight;
        padding: 0 0 20px 0;


    }

    &__list {
        text-align: justify;
        font-size: 16px;
        color: $gray-18;
        font-weight: $p-font-weight;
        // padding: 20px 4vw 0 4vw;

        &--unordered {
            // list-style-type: disc;
            list-style-type: disc;
            padding: 10px 0 10px 25px;


            &::marker {
                font-weight: 700;
            }
        }

        &--ordered {
            list-style-type: decimal;
            padding: 10px 0 10px 25px;


        }

        &-item {
            padding-bottom: 10px;

            &::marker {
                font-weight: 600;
            }

        }

    }

    &__quote {
        font-style: italic;
        // border-left: 2px solid #aaa;
        padding: 20px 0;
    }

    &__image {
        // max-width: 100%;
        width: 100%;
        min-height: 250px;
        height: auto;
        padding: 10px 0;
        object-fit: cover;
        object-position: center;

    }


    &__bold {
        font-weight: 600;
    }

    &__link {
        // text-decoration: none;
        font-weight: 500;
        color: #111;

    }
}

// BlogPost.styles.scss
@media only screen and (min-width: 720px) {
    .blog-page {
        margin-top: 120px;
        padding: 0 14vw 60px 14vw;


        &__title {
            line-height: 70px;
            font-size: 48px;
            padding-bottom: 30px;
        }


        &__info {

            padding: 0px 0 50px 0;
            line-height: 1.2rem;
            font-size: 14px;

            &__profile-author-img {
                width: 65px;
                height: 65px;
                // border: 1px solid #555;
            }

            // &__blog {

            //     &__author {
            //         color: #555;
            //     }

            //     &__date {
            //         color: #555;
            //     }
            // }
        }


        &__heading {
            font-size: 24px;

            &--level-1 {
                font-size: 36px;
                padding-bottom: 40px;
            }

            &--level-2 {
                font-size: 30px;
            }
        }

        &__paragraph {
            font-size: 18px;
        }

        &__list {
            font-size: 18px;

            &--unordered {
                // list-style-type: disc;
                padding: 10px 0 10px 55px;


                &::marker {
                    font-weight: 700;
                }
            }

            &--ordered {
                padding: 10px 0 10px 55px;


            }

            &-item {
                padding-bottom: 10px;

                &::marker {
                    font-weight: 600;
                }

            }

        }

        &__quote {
            font-size: 24px;
            padding: 20px 0;
        }

        &__image {
            // max-width: 100%;
            padding: 20px 0 60px 0;
            object-fit: cover;
            object-position: center;

        }


        &__bold {
            font-weight: 600;
        }

        &__link {
            // text-decoration: none;
            font-weight: 500;
            color: #111;

        }
    }
}

@media only screen and (min-width: 720px) {
    .blog-page {
        padding: 0 20vw 60px 20vw;

    }
}