@import '../../../sass/mixins';

.responsive-container-two-sections {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding: 40px 20px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: white;
    gap: 50px;

    @include lgMinBreakPoint {
        flex-direction: row;
        padding: 40px 80px;
        gap: 20px;

        &__left {
            width: 50%;
        }

        &__right {
            width: 50%;
        }
    }


    @include xlMinBreakPoint {
        padding: 80px 150px;
        gap: 50px;
    }
}